@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
};

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    
    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 100px;
        z-index: 2;
        pointer-events: none;
    };

    &::after {
        right: 0;
        top: 0;
        transform: rotate(180deg);
    };

    &::before {
        left: 0;
        top: 0;
    };

    ul {
        list-style-type: none;
        padding: 0;
    }

    .slider-list {
        display: flex;
        padding: 0;
    };
};