.navigation-item {
    width: 100%;

    .navigation-link {
        width: 100%;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding: 15px 0px 15px 0px;
    }
}