#PokemonArray {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    .array-container {

        margin-bottom: 10px;

        .item-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}