.circle-progress {

    position: relative;

    .outer {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
            -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }

    .inner {
        border-radius: 50%;
        height: 80%;
        width: 80%;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
            inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
            -0.5px -0.5px 0px rgba(255, 255, 255, 1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-bar {
        fill: none;
        transform: rotate(-90deg);
        position: absolute;
        top: 0;
        left: 0;
    }
}