@use './utils/styles/' as *;

* {
    box-sizing: border-box;
}

body, #root {
    margin: 0;
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
};

// body {
//     background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);
// }

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #403f40;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}

footer {
    background-color: $footer_background;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
    > span, a {
        color: white;
        text-decoration: none;
    }
};